{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row py-5">
        <h1 class="text-center">
            All Students
        </h1>
        <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Student ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Branch</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for student in st %}
              <tr>
                <th scope="row">{{ student.id }}</th>
                <td>{{ student.fname }}</td>
                <td>{{ student.lname }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone }}</td>
                <td>{{ student.branch }}</td>
                <td>
                    <!-- Button trigger modal --> 
                    <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#viewModal{{ student.id }}"><i class="fa-solid fa-circle-info"></i> View</button>
                    <!-- modal student information -->
                      <!-- Modal -->
                      <div class="modal fade" id="viewModal{{ student.id }}" tabindex="-1" aria-labelledby="viewModalLabel{{ student.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered ">
                          <div class="modal-content bg-dark">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="viewModal{{ student.id }}">Student: {{ student.fname }} {{ student.lname }}</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <ul>
                                <li><strong> First Name:</strong> {{student.fname}}</li>
                                <li><strong>Last Name:</strong>  {{ student.lname }}</li>
                                <li><strong>Email:</strong> {{student.email }}</li>
                                <li><strong>Phone Number:</strong>  {{ student.phone }}</li>
                                <li><strong>Branch:</strong>  {{ student.branch }}</li>
                              </ul>
                              
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <a type="button" class="btn btn-warning btn-sm" href="{% url 'update' student.id %}"><i class="fa-solid fa-pen-to-square"></i> Update</a>
                    
                    <!-- modal for the delete operation -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{student.id}}"><i class="fa-solid fa-trash"></i> Delete</button>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{student.id}}" tabindex="-1" aria-labelledby="deleteModalLabel{{student.id}}" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bg-dark">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel{{student.id}}">Confirm Delete</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <p>Are you sure you want to delete the Student Information of: <strong>{{student.fname}} {{student.lname}}</strong></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">No</button>
                            <!-- <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button> -->
                            <form action="{% url "delete" student.id %}" method="post" class="d-inline">
                              {% csrf_token %}
                              <input type="submit" value="Yes" class="btn btn-danger">
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}